<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
    <script language="JavaScript" src="js/index.js"></script>
    <title>index</title>
</head>
<body>
<div id="div_container">
    <div id="div_fruit_list">
        <p class="center f30">欢迎使用水果库存后台管理系统</p>
        <div style="border:0 solid red;width:60%;margin-left:20%;text-align:right;">
            <a th:href="@{/add.html}" style="border:0 solid blue;margin-bottom:4px;">添加新库存记录</a>
        </div>
        <table id="tbl_fruit">
            <tr>
                <th class="w20">名称</th>
                <th class="w20">单价</th>
                <th class="w20">库存</th>
                <th class="w20">介绍</th>
                <th>操作</th>
            </tr>
            <!--if-->
            <tr th:if="${#lists.isEmpty(session.fruits)}">
                <td colspan="4">对不起,库存为空!</td>
            </tr>
            <!--else each-->
            <tr th:unless="${#lists.isEmpty(session.fruits)}" th:each="fruit : ${session.fruits}">
                <td><a th:text="${fruit.name}" th:href="@{/fruit.do(id=${fruit.id},opt='selone')}">苹果</a></td>
                <td th:text="${fruit.price}">5</td>
                <td th:text="${fruit.count}">20</td>
                <td th:text="${fruit.remark}">####</td>
                <td><img src="imgs/del.jpg" alt="image" class="delImg" th:onclick="|delFruit(${fruit.id})|"/></td>
            </tr>
        </table>
        <div style="width:60%;margin-left:20%;border:0 solid red;padding-top:4px;" class="center">
            <input type="button" value="首  页" class="btn" th:onclick="|page(1)|" th:disabled="${session.curPageNo==1}"/>
            <input type="button" value="上一页" class="btn" th:onclick="|page(${session.curPageNo-1})|"
                   th:disabled="${session.curPageNo==1}"/>
            <input type="button" value="下一页" class="btn" th:onclick="|page(${session.curPageNo+1})|"
                   th:disabled="${session.curPageNo==session.pageCount}"/>
            <input type="button" value="尾  页" class="btn" th:onclick="|page(${session.pageCount})|"
                   th:disabled="${session.curPageNo==session.pageCount}"/>
        </div>
    </div>
</div>
</body>
</html>
