<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/left.css}">
</head>
<body>
<div id="div_friendList">
    我的好友列表<br/>
    <ul>
        <li th:if="${#lists.isEmpty(session.userBasic.friends)}">一个好友也没有</li>
        <li th:unless="${#lists.isEmpty(session.userBasic.friends)}" th:each="friend : ${session.userBasic.friends}">
            <a th:href="@{|/user.do?opt=friend&id=${friend.id}|}" th:text="${friend.nickName}" target="_top">#</a>
        </li>
    </ul>
</div>
</body>
</html>
