<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Ajax请求</h1>

<div id="app">
    <input type="button" value="测试异步请求" @click="submit">
    <input type="button" value="测试相应list" @click="list">
    <input type="button" value="测试相应map" @click="map">
</div>
</body>

<script language="JavaScript" th:src="@{/static/vue.js}"></script>
<script language="JavaScript" th:src="@{/static/axios.min.js}"></script>
<!--
                url: "",
                method: "",
                params: {}, // K-V 格式
                data: {}   // Json格式
-->
<script>
    let vue = new Vue({
        el: "#app",
        methods: {
            submit() {
                axios.post(
                    "/springmvc/ajax?id=10",
                    {
                        username: "zyc",
                        password: "w123"
                    }
                ).then(response=>{
                    console.log(response.data)
                });
            },
            list(){
                axios.post(
                    "/springmvc/ajax/list"
                ).then(response=>{
                    console.log(response.data)
                });
            },
            map(){
                axios.post(
                    "/springmvc/ajax/map"
                ).then(response=>{
                    console.log(response.data)
                });
            }
        }
    })

</script>

</html>