<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a th:href="@{/hello}">点我</a></h1>
<h1><a th:href="@{/second}">点我er</a></h1>
<h1><a th:href="@{/hezycllo}">点我hello</a></h1>
<h1><a th:href="@{/paradakhk/zyc/zyc0909}">点我hello</a></h1>
<a th:href="@{/model/view}">ModelAndView</a><br>
<a th:href="@{/model}">Model</a><br>
<a th:href="@{/modelmap}">ModelMap</a>
<hr/>

<form th:action="@{/param}" method="post">
    <label>姓名:</label><label>
    <input type="text" name="name">
</label><br>
    <label>密码:</label><label>
    <input type="password" name="pwd">
</label><br>
    <input type="submit" value="提交">
</form>

<form th:action="@{/user}" method="post">
    <!--必须设置-->
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="put请求方式">
</form>


<form th:action="@{/user}" method="post">
    <!--必须设置-->
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete请求方式">
</form>
<br>

<a th:href="@{/employee}">访问员工信息</a>
<a th:href="@{/file/down}">文件下载</a>

<form th:action="@{file/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="photo">
    <input type="submit" value="上传">
</form>

</body>
</html>