<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.mapper.TestMapper">

    <!--
        cache- 配置本定命名空间的缓存。
            type- cache实现类，默认为PERPETUAL，可以使用自定义的cache实现类（别名或完整类名皆可）
            eviction- 回收算法，默认为LRU，可选的算法有：
                LRU– 最近最少使用的：移除最长时间不被使用的对象。
                FIFO– 先进先出：按对象进入缓存的顺序来移除它们。
                SOFT– 软引用：移除基于垃圾回收器状态和软引用规则的对象。
                WEAK– 弱引用：更积极地移除基于垃圾收集器状态和弱引用规则的对象。
            flushInterval- 刷新间隔，默认为1个小时，单位毫秒
            size- 缓存大小，默认大小1024，单位为引用数
            readOnly- 只读
        -->
    <cache type="PERPETUAL" eviction="LRU" flushInterval="60000"
           size="512" readOnly="true"/>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into my(name,age) value(#{my.name},#{my.age})
    </insert>

    <select id="select" resultType="org.mybatis.pojo.My">
        select * from my limit #{offset},#{limit}
    </select>

    <select id="selectByPage" resultType="org.mybatis.pojo.My">
        select id,name,age from my
    </select>


</mapper>