<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <typeAlias type="org.mybatis.pojo.Grade" alias="grade"/>
        <typeAlias type="org.mybatis.pojo.World" alias="world"/>
        <typeAlias type="org.mybatis.pojo.My" alias="my"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="org.mybatis.interceptor.UpdatePlugin"/>
        <plugin interceptor="org.mybatis.interceptor.PagePlugin">
            <!--全局匹配是否进行分页查询的标志(方法名以Page结尾)-->
            <property name="pageRegex" value=".*Page$"/>
            <!--使用@Param注解指定value=pageItem-->
            <property name="paramName" value="pageItem"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1 from dual"/>
                <property name="poolPingConnectionsNotUsedFor" value="20000"/>
            </dataSource>
        </environment>
        <environment id="production">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/java"/>
                <property name="username" value="root"/>
                <property name="password" value="mysql57"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/GradeMapper.xml"/>
        <mapper resource="mapper/WorldMapper.xml"/>
        <mapper resource="mapper/MyMapper.xml"/>
    </mappers>

</configuration>