<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.mapper.ResultMapMapper">

    <resultMap id="Teacher" type="teacher">
        <id property="tid" column="tid"/>
        <result property="name" column="tname"/>
        <!--collection 处理一对多关系-->
        <collection property="students" ofType="user" resultMap="User"/>
    </resultMap>

    <resultMap id="User" type="user">
        <id property="uid" column="uid"/>
        <result property="name" column="uname"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <!--association 处理多对一映射关系-->
        <association property="teacher" javaType="teacher">
            <id property="tid" column="tid"/>
            <result property="name" column="tname"/>
        </association>
    </resultMap>

    <select id="getTeacherByName" resultMap="Teacher">
        SELECT
        t1.tid as tid,
        t1.`name` as tname,
        t3.uid as uid,
        t3.`name` as uname,
        t3.age as age,
        t3.sex as sex,
        t3.email as email,
        t3.`password` as password
        FROM t_teacher t1
        LEFT JOIN t_rel t2 ON t1.tid = t2.tid
        LEFT JOIN t_user t3 ON t2.uid = t3.uid
        <where>
            <if test=" name != null and name != '' ">t1.name = #{name}</if>
        </where>
    </select>

    <select id="getUser" resultMap="User">
        SELECT tu.uid   as uid,
               tu.name  as uname,
               tu.age   as age,
               tu.sex   as sex,
               tu.email as email,
               password as password,
               tt.tid   as tid,
               tt.name  as tname
        FROM t_user tu
                 LEFT JOIN t_rel tr on tu.uid = tr.uid
                 LEFT JOIN t_teacher tt on tr.tid = tt.tid
    </select>
</mapper>
